body {
  background: #34495E;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.main {
  background: transparent;
  max-width: 500px;
  width: 90%;
  height: 500px;
  margin: 30px auto;
  border-radius: 10px;
}

.adicionar {
  width: 100%;
  background: #FFFFFF;
  margin: 0px auto;
  padding: 10px;
  border-radius: 5px;
}

.adicionar button {
  display: block;
  width: 95%;
  height: 40px;
  margin: 0px auto;
  border: none;
  outline: none;
  background: #0088FF;
  color: #FFFFFF;
  font-family: sans-serif;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.adicionar button:hover {
  opacity: 0.7;
}

.listar-tarefas {
  width: 100%;
  background: #FFFFFF;
  margin: 30px auto;
  padding: 10px;
  border-radius: 5px;
}

.tarefa {
  width: 95%;
  margin: 10px auto;
  padding: 20px 10px;
  box-shadow: 0 4px 8px 0 #CCCCCC, 0 6px 20px 0 #CCCCCC;
  border-radius: 5px;
  flex-direction: row;
}

.tarefa h2 {
  display: inline-block;
  padding: 5px 0px;
  font-size: 17px;
  font-family: sans-serif;
  color: #555555;
}

.edit {
  display: inline-block;
  padding: 5px 0px;
  font-size: 17px;
  font-family: sans-serif;
  color: #555555;
  background-color: #FFFFFF;
  border: 0;
}

.edit:hover {
  opacity: 80%;
  cursor: pointer;
}

.tarefa small {
  display: block;
  width: 100%;
  padding: 5px 0px;
  color: #888888;
  padding-left: 30px;
  font-size: 14px;
  font-family: sans-serif;
}

.remover-tarefa {
  display: block;
  float: right;
  width: 30px;
  height: 30px;
  font-family: sans-serif;
  color: #8B615D;
  text-decoration: none;
  border-radius: 50%;
  margin-top: 20px;
  background-color: #FFFFFF;
  border-color: #FFFFFF;
  transition: background 1s;
}

.remover-tarefa:hover {
  background: #8B615D;
  color: #FFFFFF;
  cursor: pointer;
}

.finalizado {
  color: #999999 !important;
  text-decoration: line-through;
}

.tarefa input {
  margin: 0px 5px;
}

.vazia {
  font-family: sans-serif;
  font-size: 16px;
  text-align: center;
  color: #CCCCCC;
}

.checkButton {
  float: right;
  height: 30px;
  width: 30px;
  text-align: center;
  justify-content: center;
  margin: 20px;
  border-radius: 50%;
}